* {
  box-sizing: border-box;
}

/*red borders for debugging purposes*/
header, footer, .developer-name, .header-menu, .container, .container1, .container2, .container1-heading, .connect, .social, #bio, #bio-image {
	border: solid 1px red;
}

.container, .container1, .container2 {
	border: solid 2px green;
}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
	background-color: #666666;
	color: white;
	text-align: center;
	position: relative;
	clear: both;
}

.developer-name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #4aaaa5;
	color: white;
}

.header-menu {
	float: right;
	padding: 10px;
}

.container {
	background-color: #ffffff; 

}

.container1 {

}

.container1-heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	color: #4aaaa5;
}

.container2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
}

.connect {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
	color: #4aaaa5;
}

.social {
	float: right;
	padding-top: 75px;
}

#bio {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

#bio-image {
	 margin: 20px;
	 width: 165px;
	 height: 150px;
}



/* body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #d21034;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #333; */
/* 
  position: relative;
	bottom: -40px; */